[submodule "BcdiCore.jl"]
	path = BcdiCore.jl
	url = git@github.com:byu-cxi/BcdiCore.jl.git
[submodule "BcdiTrad.jl"]
	path = BcdiTrad.jl
	url = git@github.com:byu-cxi/BcdiTrad.jl.git
[submodule "BcdiStrain.jl"]
	path = BcdiStrain.jl
	url = git@github.com:byu-cxi/BcdiStrain.jl.git
[submodule "BcdiMeso.jl"]
	path = BcdiMeso.jl
	url = git@github.com:byu-cxi/BcdiMeso.jl.git
