[submodule "docs/src/BcdiCore.jl"]
	path = docs/src/BcdiCore.jl
	url = https://github.com/byu-cxi/BcdiCore.jl.git
[submodule "docs/src/BcdiTrad.jl"]
	path = docs/src/BcdiTrad.jl
	url = https://github.com/byu-cxi/BcdiTrad.jl.git
[submodule "docs/src/BcdiStrain.jl"]
	path = docs/src/BcdiStrain.jl
	url = https://github.com/byu-cxi/BcdiStrain.jl.git
[submodule "docs/src/BcdiMeso.jl"]
	path = docs/src/BcdiMeso.jl
	url = https://github.com/byu-cxi/BcdiMeso.jl.git
[submodule "docs/src/BcdiSimulate.jl"]
	path = docs/src/BcdiSimulate.jl
	url = https://github.com/byu-cxi/BcdiSimulate.jl.git
